<dss-dialog-container>
  <dss-dialog-header [divider]="true">
    <div class="flex w-full items-center justify-center gap-2">
      <span [innerHTML]="title" class="text-2xl font-normal"></span>
    </div>
  </dss-dialog-header>

  <dss-dialog-content>
    <div class="create-post-content flex justify-center items-center mt-2 mb-2 gap-3">
      <span class="text-xl font-thin text-gray-500 p-2" [innerHTML]="message"></span>
    </div>
  </dss-dialog-content>

  <dss-dialog-actions>
    <div class="w-full flex flex-col gap-2">
      <button class="w-full flex justify-center px-2 py-1" (click)="submit('skip')">
        <p class="text-red-700 font-normal text-xl">Discard</p>
      </button>
      <button class="w-full flex justify-center px-2 py-1" (click)="submit('save')">
        <p class="font-light text-xl">Cancel</p>
      </button>
    </div>
  </dss-dialog-actions>
</dss-dialog-container>
