<dss-dialog-container>
  <dss-dialog-header>
    <div class="flex w-full align-items-center justify-content-between gap-2">
      <span class="text-xl font-bold">{{ 'ui.dialogs.save-changes-title' | translate }}</span>
      <p-button
        icon="pi pi-times"
        styleClass="p-button-secondary p-button-text"
        [disabled]="$any(isProcess$ | async)"
        (click)="cancel()"
      ></p-button>
    </div>
  </dss-dialog-header>

  <dss-dialog-content>
    <div class="flex mt-2 mb-2 gap-3">
      <svg-icon src="assets/images/attention.svg"></svg-icon>
      <span [innerHTML]="message"></span>
    </div>
  </dss-dialog-content>

  <dss-dialog-actions>
    <div class="flex gap-2">
      <p-button
        styleClass="p-button-secondary p-button-text"
        [label]="'Не сохранять'"
        [disabled]="$any(isProcess$ | async)"
        (click)="submit('skip')"
      ></p-button>

      <p-button
        [label]="'Сохранить'"
        [disabled]="$any(isProcess$ | async)"
        (click)="submit('save')"
      ></p-button>
    </div>
  </dss-dialog-actions>
</dss-dialog-container>
