
:host {
  --padding: 24px 0;

  display: flex;
  justify-content: flex-end;
  margin: 0 24px;

  &.with-divider {
    border-top: 1px solid var(--surface-c);

    .actions-container {
      padding: 21px 0 0;
    }
  }

  .actions-container {
    padding: var(--padding);
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 640px) {
  :host {
    --padding: 12px 0;
  }
}
