<div class="w-full h-[100svh] dark:bg-black dark:text-white">
 <!--  @defer (on timer(2000)) { -->
  <router-outlet></router-outlet>
  <!-- } @placeholder {
  <div class="relative w-full h-full flex-1 flex items-center justify-center">
    <img
      width="80"
      height="80"
      src="../assets/images/instagram-logo.png"
      alt=""
    />
    <img
      width="80"
      height="80"
      class="absolute bottom-20 mx-auto"
      src="../assets/images/from_Meta.png"
      alt=""
    />
  </div>
  } -->
</div>
