<div class="relative flex w-full h-[100svh] dark:bg-black dark:text-white">
  @defer (on timer(2000)) {
  <app-sidebar></app-sidebar>
  <div class="hidden md:flex md:w-[82px] lg+:flex lg+:w-[290px]"></div>
  <div class="w-full overflow-auto flex justify-center mb-[48px] md:m-0">
    <router-outlet></router-outlet>
  </div>
  } @placeholder {
  <div class="relative w-full h-full flex-1 flex items-center justify-center">
    <img
      width="80"
      height="80"
      src="../assets/images/instagram-logo.png"
      alt=""
    />
    <img
      width="80"
      height="80"
      class="absolute bottom-20 mx-auto"
      src="../assets/images/from_Meta.png"
      alt=""
    />
  </div>
  }
</div>
