<dss-dialog-container>
  <dss-dialog-header>
    <div class="flex w-full align-items-center justify-content-between gap-2">
      <span class="text-xl font-bold">{{ title }}</span>
      <p-button
        icon="pi pi-times"
        styleClass="p-button-secondary p-button-text"
        (click)="cancel()"
      ></p-button>
      <!-- [disabled]="$any(isProcess$ | async)" -->

    </div>
  </dss-dialog-header>

  <dss-dialog-content>
    <div class="flex gap-3">
      <svg-icon svgClass="w-6 h-6" icon="attention" src="assets/images/svg/attention.svg"></svg-icon>
      <span>{{ text }}</span>
    </div>
  </dss-dialog-content>

  <dss-dialog-actions *ngIf="{ loading: (isProcess$ | async) || false } as action">
    <div class="flex gap-2">
      <p-button
        [styleClass]="noBtnClass"
        [label]="noBtn"
        (click)="cancel()"
      ></p-button>
      <!-- [disabled]="action.loading" -->

      <p-button
        [styleClass]="yesBtnClass"
        [label]="yesBtn"
        [disabled]="action.loading"
        [loading]="action.loading"
        (click)="submit()"
      ></p-button>
    </div>
  </dss-dialog-actions>
</dss-dialog-container>
