* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 40rem #ffff inset;
}

