<div class="w-[319px] flex flex-col mt-9">
  <div class="flex items-center px-4">
    <div class="w-[44px] h-[44px] bg-green-600 rounded-full mr-3"></div>
    <div class="flex flex-col align-bottom flex-grow">
      <p>baltenko</p>
      <span class="text-gray-300 text-sm">Марк Балтенко</span>
    </div>
      <p class="ml-4 text-blue-400">Switch</p>
  </div>
  <div class="flex flex-col mt-6 mb-2">
    <div class="flex justify-between py-1 px-4">
      <p class="flex-grow">Suggested for you</p>
      <span>see all</span>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="flex items-center py-2 px-4">
      <div class="w-[44px] h-[44px] bg-fuchsia-500 rounded-full mr-3"></div>
      <div class="flex flex-col align-bottom flex-grow">
        <p>baltenko</p>
        <span class="text-gray-300 text-sm">Марк Балтенко</span>
      </div>
        <p class="ml-4 text-blue-400">Follow</p>
    </div>
    <div class="flex items-center py-2 px-4">
      <div class="w-[44px] h-[44px] bg-violet-600 rounded-full mr-3"></div>
      <div class="flex flex-col align-bottom flex-grow">
        <p>baltenko</p>
        <span class="text-gray-300 text-sm">Марк Балтенко</span>
      </div>
        <p class="ml-4 text-blue-400">Follow</p>
    </div>
    <div class="flex items-center py-2 px-4">
      <div class="w-[44px] h-[44px] bg-rose-600 rounded-full mr-3"></div>
      <div class="flex flex-col align-bottom flex-grow">
        <p>baltenko</p>
        <span class="text-gray-300 text-sm">Марк Балтенко</span>
      </div>
        <p class="ml-4 text-blue-400">Follow</p>
    </div>
    <div class="flex items-center py-2 px-4">
      <div class="w-[44px] h-[44px] bg-pink-600 rounded-full mr-3"></div>
      <div class="flex flex-col align-bottom flex-grow">
        <p>baltenko</p>
        <span class="text-gray-300 text-sm">Марк Балтенко</span>
      </div>
        <p class="ml-4 text-blue-400">Follow</p>
    </div>
  </div>
</div>
